
@{
    ViewData["Title"] = "Dasboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model ShoeShop.Models.Account
<div class="span9">
    <ul class="breadcrumb">
        <li><a asp-action="index" asp-controller="home">Home</a> <span class="divider">/</span></li>
        <li class="active">Access Denied</li>
    </ul>
    <h3>Access Denied</h3>
    

</div>

